body{
  font-family: 'Hina Mincho', serif;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #f3f3f3;
}
#White{
  background-color: #f3f3f3;
}
#header h6 {
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color:#f3f3f3;
    text-shadow: 0 0 6px #f3f3f3;
    font-size: 427%;
}
#scrolldown2{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom:10px;
	left:50%;
}

a{
  font-size: 120%;
  padding: 5px;
  margin: 10px;
  color: #222;
  text-decoration: none;
}
.fallBox{
  display: inline-block;
  margin-left: 50px;
}
.shotB{
  background: linear-gradient( #057c, #076c);
  padding: 20px;
  margin: 10px 0;
  border: double 5px #f3f3f3;
  border-radius: 60px;
  color: #f3f3f3;
  font-size: 120%;
}

.sample6 .caption {
  font-size:		130%;
  color:			#fff;
  padding-top:		7%;
  padding-left:		10%;
}
#nav a:hover{
  color: #faa30a;
  border-color: #faa30a;
}

hr{
  border: solid 3px;
  border-color: #444;
}
/*BOXコンテンツ*/
.BOX{
  border-left: 30px double #927a7a;
  border-right: 30px double #726a6a;
  background-color: #e6e4e1;
  display: flex;
  margin: 30px 0;
}
.sentence{
  margin: 10px 20px;
  border-width: 1px 0 0 0;
  border-bottom: dotted;
}
.map-tag{
  width: 35%;
  background-color: white;
  margin: 10px;
  padding: 30px;
  float: left;
  border-right: dashed 10px #f3f3f3;
}

.TOPIC span{
  color: #d20;
  text-decoration: none;
}

.sentence span{
  text-decoration: underline;
}

@media screen and ( min-width:960px ){
  #scrolldown2{
    bottom:170px;
  }
  #header h6 span{
    background:linear-gradient(transparent 77%, #a10c 77%);
  }
  .sample6 .caption {
    font-size: 160%;
  }

  .BOX h1{
    text-align: center;
    margin: 0 20px;
    font-size: 240%;
    padding: 10px 0;
  }
  .BOX .harf{
    width: 50%;
  }
  .BOX img{
    width: 90%;
    margin: 30px;
  }

  .contents img{
    max-width: 30vw;
    margin-right: 10px;
    float: left;
  }
  img{
    max-width: 60vw;
  }
  a.point{
    color: #077;
    border-bottom: solid 3px #088;
    border-top: solid 3px #088;
  }
  nav{
    margin: 4vh 20px 4vh 0;
  }
  nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
  }
  #container{
    width: 940px;
    margin: auto;
    margin-top: 100px;
  }
  #container .title{
    text-align: center;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 1.6vw;
  }
  .sample6 {
    float: left;
    width:			45%;
    overflow:		hidden;
    margin:			10px 8px 10px 16px;
    position:		relative;
  }
  .sample6 img{
    max-width: 100%;
  }
  #nav{
    background: rgba(243,243,243,0.85);
    padding: 12px;
  }
}

@media screen and ( max-width:959px ){
  .fallBox{
    display: block;
    margin-left: 5px;
  }
  audio{
    width: 90%;
  }
  #header h6{
    top: 50%;
    left: 50%;
    font-size: 220%;
    -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  }
  #nav a{
    margin: 0;
  }
  #White{
    background-color: #f3f3f3;
    padding-top: 20px;
  }
  .sample6 {
    float: left;
    width:			80%;
    overflow:		hidden;
    margin:			10px 8px 10px 16px;
    position:		relative;
  }
  .map-tag{
    width: 70%;
  }
  .button05{
    padding-bottom: 40px;
  }
  .BOX{
    display: block;
  }
  .BOX img{
    max-width: 80%;
    margin: 30px;
  }

  img{
    width: 87vw;
  }
  .sample6 img{
    min-width: 100%;
  }

  .contents img{
    float: left;
    max-width: 40vw;
    margin-right: 10px;
  }
  #nav{
    position:fixed;
    z-index: 999;
    top:0;
    right: -120%;
    width:100%;
    height: 100vh;
    background: rgba(235,235,235,0.94);
    transition: all 0.4s;
  }
  #nav.panelactive{
    right: 0;
  }
  /*ナビゲーション*/
  #nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-left: 0;
  }
  #nav li{
    list-style: none;
    text-align: center;
  }
  #nav li a{
    color: #222;
    padding: 4vh 10px;
    display: block;
    text-transform: uppercase;
        font-size: 16px;
  }
  /*ボタン*/
  .openbtn{
    position:fixed;
    z-index: 9999;
    top:10px;
    right: 10px;
    cursor: pointer;
    width: 80px;
    height:80px;
  }

  .openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    background-color: #333;
    width: 45%;
    border: solid 1px #f3f3f3;
  }

  .openbtn span:nth-of-type(1) {
    top:15px;
  }

  .openbtn span:nth-of-type(2) {
    top:23px;
  }

  .openbtn span:nth-of-type(3) {
    top:31px;
  }

  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
  }

  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 40%;
  }
  #container{
    margin: 0 20px;
  }
  #nav a.point{
    color: #077;
    border-bottom: solid 5px #088;
    border-top: solid 5px #088;
  }
}
.contents{
  margin: 20px auto;
}

.contents p{
  font-size: 16px;
  line-height: 27px;
}

iframe{
  box-shadow: 7px 7px;
}

#NEXT{
  clear:left;
  font-size: 130%;
  margin: 30px;
  text-align: center;
}
#NEXT a:hover{
  color: #faa30a;
}

.sentence a{
  text-decoration: underline;
  color: #059;
}
.sentence a:visited{
  text-decoration: underline;
  color: #916;
}

.contents h2 span{
  background:linear-gradient(transparent 60%, #ff6 60%);
}

.shot{
  background: linear-gradient( #f30c, #f93c);
  padding: 20px;
  border: double 5px #f3f3f3;
}

.footer{
  display: flex;
  padding: 10px;
  background-color: #e6e4e1;
  background-color: #262421;
  color: #f3f3f3;
}

.harf h1 span{
  background:linear-gradient(transparent 60%, #ff6 60%);
}

.button05 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 60%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #c6c4c1;
  box-shadow: 0 5px 0 #aaa;
  transition: 0.3s;
}

.button05 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button05 a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}
.footer{
  clear:left;
}

.sample6 .mask {
  width:			100%;
  height:			100%;
  position:		absolute;
  top:			-100%;	/* 枠の上に置いて表示させない */
  left:			0;
  background-color:	rgba(0,0,0,0.7);
  -webkit-transition:	all 0.6s ease;
  transition:		all 0.6s ease;
}
.sample6:hover .mask {
  top:			0;	/* 下に降りてくるように見せる */
}

h5{
  font-size: 110%;
  margin: 5px;
  text-align: center;
}

#header{
  position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
  height: 100vh;/*高さを全画面にあわせる*/
}
#video-area{
  position: fixed;
  z-index: -1;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}
rt{
  font-size: 46%;
}

/*Scrollテキストの描写*/
#scrolldown2 span{
    /*描画位置*/
	position: absolute;
	left:10px;
	bottom:10px;
    /*テキストの形状*/
	color: #eee;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
#scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#eee;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
	animation:
		circlemove 1.6s ease-in-out infinite,
		cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:45px;}
     100%{bottom:-5px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

/* 線の描写 */
#scrolldown2:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	left:0;
    /*線の形状*/
	width:2px;
	height: 50px;
	background:#eee;
}

.commentBox{
  background-color: white;
  padding: 7px;
  margin: 10px 5px;
  border-left: solid 20px #a00;
  border-right: dashed 10px #f3f3f3;
  font-size: 20px;
}
.commentBox p{
  padding: 0 20px;
}
.commentBox img{
  width: 90%;
}
.commentBox span p{
  color: #888;
  text-align: right;
  margin-right: 20px;
  font-size: 15px;
}
.footer a{
  color: #09a;
  text-decoration: underline;
}

.map-tag a{
  text-decoration: underline;
  color: #059;
}
.map-tag a:visited{
  text-decoration: underline;
  color: #916;
}
